
     header{
        background: powderblue;
     }
     nav li{
        display: inline;
        margin: 0 0 0 18px;
     }
     p{
       text-align: center;
     }
     h3{
       color: purple; text-align: center; font-size: 40px;
     }
     strong{
        color: red;
     }
     h4{
       color: slateblue; 
     }